version: "3.9"

services:
  backend:
    build: .
    ports:
      - "8080:8080"
    environment:
      NODE_ENV: production
      PORT: 8080
      AUTH0_DOMAIN: dev-70t4tgy5bscjagaa.us.auth0.com
      AUTH0_AUDIENCE: milanauthapi
